@import url('https://fonts.googleapis.com/css?family=PT+Mono');

html {
    background-color: #1b6d85;
}

.header-banner {
    text-align: center;
    font-family: 'PT Mono', monospace;
    font-weight: 700; !important
}

#navbar {
    font-family: 'PT Mono', monospace;
    font-size: medium;
}

.layout-wrapper {
    padding-top: 50px;
}

.main-title {
    font-family: 'Yeseva One', cursive;
}

.main-igor {
    text-align: center;
}

.main-igor img {
    border-radius: 10%;
    max-height: 300px;
    margin: 50px;
}

.cite-container {
    content-align: center;
}

.cite {
    margin: 0 auto;
    max-width: 400px;
    font-family: 'Marck Script', cursive;
    font-size: 20px;
}

.cite ul {
    list-style-type: none;
}